* {
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.iAuction {
    margin: 10px;
    height: 300px;
    width: 100%;
    border: 1px solid black;
}

.iAuction:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

.iAuction .iTitle {
    font-size: 30px;
    margin-bottom: 10px;
}

.iAuction .iImage {
    height: 298px;
}

.iAuction .iPrice {
    font-size: 20px;
    margin-bottom: 10px;
}

.iAuction span {
    font-weight: bold;    
}

.iAuction .iText {
    height: 298px;
    overflow: auto;
    
}

.iAuction .iDate {
    margin-top: 10px;
    font-size: 14px;
}

.lAuction {
    display: block;
    height: 300px;
    text-align: center;
}

.lAuction .cmessage {
    font-size: 35px;
    color: red;
    margin-bottom: 10px;
}

.lAuction .wmessage {
    font-size: 35px;
    color: green;
    margin-bottom: 10px;
}

.lAuction button {
    margin: 20px;
}

.lAuction .lTitle {
    font-size: 30px;
}

.lAuction .lImage {
    height: 298px;
    margin: 20px;
}

.lAuction .lPrice {
    font-size: 20px;
    margin-bottom: 10px;
}

.lAuction .lPrice span {
    font-weight: bold;    
}

.lAuction .lText {
    height: 298px;
    overflow: auto;
}

.lAuction .lBid {
    margin: 20px 0 20px;
}

.lAuction .lDate {
    margin-top: 20px;
    font-size: 14px;
}

.lAuction .lCategory {
    margin-bottom: 10px;
}

hr {
    margin: 0;
}

.commentsTitle {
    font-size: 25px;
    margin: 10px;
}

.lAuction textarea {
    width: 100%;
}

.comments input {
    margin-bottom: 10px;
}

.commentPerson {
    margin-bottom: 10px;
}

.commentText {
    margin-bottom: 10px;
}

.categoriesButton {
    margin: 3px;
}

.form {
    display: inline-block;
}

.createListing input {
    display: block;
    margin-bottom: 10px;
}