* {
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.iAuction {
    margin: 10px;
    width: 100%;
    border: 1px solid black;
}

.iAuction:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

.iAuction .iTitle {
    font-size: 30px;
}

.iAuction .iImage {
    height: 298px;
}

.iAuction .iPrice {
    font-weight: bold;
}

.lAuction {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.lAuction .lTitle {
    font-size: 30px;
}

.lAuction .lImage {
    height: 298px;
    margin: 20px;
}

.lAuction .lPrice {
    font-weight: bold;
}