{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for bid, auction in AuctionListings %}
        {% if auction.isActive %}
            <div class="auction">
                {% if auction.imgURL != '' %}
                    <img src="{{ auction.imgURL }}">
                {% endif %}

                <a href="{% url 'listingPage' auction.id %}" class="title">title: {{ auction.title }} </a>
                <div class="price">Price: {{ bid }} </div>
                <div class="description">{{ auction.description }}</div>
                
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}