{% extends "auctions/layout.html" %}

{% block body %}
<h2>Watchlist</h2>

{% for bid, auction in watchlist %}
        <div class="container-fluid">
            <div onclick="location.href='listingPage/{{auction.id}}'" class="row iAuction">
                <div class="col-lg-6 col-xs-12 d-flex justify-content-center">
                    {% if auction.imgURL %}
                        <img src="{{ auction.imgURL }}" class="iImage">
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" class="iImage" fill="currentColor"
                            class="bi bi-card-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z" />
                        </svg>
                    {% endif %}
                </div>

                <div class="iText col-lg-6 col-xs-12">
                    <div class="iTitle">{{ auction.title }} </div>
                    {% if auction.isActive %}
                        <div class="iPrice">Current Price: {{ bid }} </div>
                    {% else %}
                        <div class="iPrice">Sold Price: {{ bid }} </div>
                    {% endif %}
                    <div class="iDescription">{{ auction.description }}</div>
                    <div class="iDate">Created {{ auction.date }}</div>
                </div>
            </div>
        </div>
{% endfor %}
{% endblock %}