textarea {
    min-height: 400px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: solid 0.5px black;
    border-width: initial;
    height: 40px;
}

td:first-child {
    font-weight: bold;
}

td:nth-child(2) {
    text-align: left;
    padding: 10px;
}

td:last-child {
    text-align: right;

}

.read {
    background-color: #8080803d;
}
